<script src='/plugin_assets/mega_calendar/javascripts/jscolor/jscolor.js'></script>
<table>
  <tbody>
    <tr>
      <th><%= translate 'def_holiday_color' %></th>
      <td>
        <input type="text" id="settings_default_holiday_color" value="<%= settings['default_holiday_color'] %>" name="settings[default_holiday_color]" class="color" />
      </td>
    </tr>
    <tr>
      <th><%= translate 'def_color' %></th>
      <td>
        <input type="text" id="settings_default_event_color" value="<%= settings['default_event_color'] %>" name="settings[default_event_color]" class="color" />
      </td>
    </tr>
  </tbody>
</table>
